In [3]:
a_neutral_number=3

In [4]:
not a_neutral_number==3

False

In [5]:
#Calculate the cost of buying all the ebags
profit_margin=0.2
number_of_bags=500
selling_price_per_bag=20

In [6]:
cost_per_bag=(profit_margin*100+100)*20/100 
total_cost_of_bags=cost_per_bag*number_of_bags
output_template="""if the store sells bag @{} with a profit margin {} per bag, then total cost of buying all the bags is {}"""
output_message=output_template.format(selling_price_per_bag, profit_margin,total_cost_of_bags)
print(output_message)

if the store sells bag @20 with a profit margin 0.2 per bag, then total cost of buying all the bags is 12000.0

In [7]:
person1={"Name": "Fredrick Omondi otieno",
         "Relationship Status": "single",
         "networth":"50k",  
         "Age": 32,
         "sex": "Male"
         
}

In [8]:
person1

{'Name': 'Fredrick Omondi otieno',
 'Relationship Status': 'single',
 'networth': '50k',
 'Age': 32,
 'sex': 'Male'}

In [9]:
person1["Name"]

'Fredrick Omondi otieno'

In [10]:
person1.items()

dict_items([('Name', 'Fredrick Omondi otieno'), ('Relationship Status', 'single'), ('networth', '50k'), ('Age', 32), ('sex', 'Male')])

In [11]:
new_copy=person1.copy()

In [12]:
new_copy["name"]="Leko Lwanne"

In [13]:
new_copy.items()

dict_items([('Name', 'Fredrick Omondi otieno'), ('Relationship Status', 'single'), ('networth', '50k'), ('Age', 32), ('sex', 'Male'), ('name', 'Leko Lwanne')])

In [14]:
person1.items()

dict_items([('Name', 'Fredrick Omondi otieno'), ('Relationship Status', 'single'), ('networth', '50k'), ('Age', 32), ('sex', 'Male')])

In [15]:
line ='*'
max_length=10

while len(line)<=max_length:
    print (line)
    line+="*"
while len(line)>0:
    print (line)
    line=line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [16]:
def print_parallelogram(height, width, offset):
    for row in range(height):
        # Print leading spaces
        print(' ' * (offset - row), end='')
        
        # Print asterisks
        print('*' * width)

# Example usage
print_parallelogram(5, 10, 4)  # Height of 5, width of 10, and offset of 4 spaces

    **********
   **********
  **********
 **********
**********

In [17]:
def print_pyramid(height):
    for i in range(height):
        # Print leading spaces
        print(' ' * (height - i - 1), end='')

        # Print asterisks
        print('*' * (2 * i + 1))

# Example usage
print_pyramid(5)  # A pyramid with a height of 5

    *
   ***
  *****
 *******
*********

In [19]:
n = 5  # Set the value of n to the number you want the factorial of
factorial = 1

if n < 0:
    print("Factorial does not exist for negative numbers")
elif n == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, n + 1):
        factorial = factorial * i
    print(f"The factorial of {n} is {factorial}")

The factorial of 5 is 120

In [1]:
def myFun(**kwargs):
    for key, value in kwargs.items():
        print("%s == %s" % (key, value))
 
 
# Driver code
myFun(first='Geeks', mid='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

In [2]:
 
def myFun(arg1, *argv):
    print("First argument :", arg1)
    for arg in argv:
        print("Next argument through *argv :", arg)
 
 
myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

First argument : Hello
Next argument through *argv : Welcome
Next argument through *argv : to
Next argument through *argv : GeeksforGeeks

In [1]:
print('%(language)s has %(number)03d quote types.' %
      {'language': "Python", "number": 2})

Python has 002 quote types.